/* THIN (100) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* EXTRALIGHT (200) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* LIGHT (300) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* REGULAR (400) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* MEDIUM (500) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SEMIBOLD (600) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* BOLD (700) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* EXTRABOLD (800) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* BLACK (900) */
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


@font-face {
    font-family: 'Gelasio';
    src: url('../assets/fonts/Gelasio-Italic-VariableFont_wght.ttf') format('opentype'),
         url('../assets/fonts/Gelasio-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';  /* Ensure the font-family matches the one used in your HTML */
    src: url('../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('opentype'),
         url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-Italic-VariableFont_wght.ttf') format('opentype'),
         url('../assets/fonts/Mulish-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signerica';
    src: url('../assets/fonts/SignericaFat.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}